.lokalHistorienMain {
  background-color: #F2F2F2;
  width: 100%;
}
.lokalHistorienMain .overskriftBox {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 52px;
  background-color: #2E338C;
}
.lokalHistorienMain .lokalHistorienTekst {
  margin-top: 20px;
  width: 60%;
  font-family: Barlow;
  margin-left: 20%;
}
.lokalHistorienMain .lokalHistorienTekst p {
  margin-top: 25px;
}